.issue  {
  border: 3px groove;
  border-radius: 5px;
  padding: 10px;
}

.issue p  {
  margin-bottom: 5px;
}

.issue a  {
  color: #666;
}

.issue a:hover  {
  color: black;
}

.issue a span {
  border: 3px groove;
  border-radius: 5px;
  padding-right: 3px;
  padding-bottom: 3px;
  color: black;
}

pre code  {
  background: inherit;
}
